absl-py==2.1.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.11.11
aiohttp-retry==2.8.3
aioice==0.9.0
aiortc==1.9.0
aiosignal==1.3.1
aiosqlite==0.20.0
alembic==1.13.2
altair==5.5.0
annotated-types==0.6.0
anthropic==0.34.2
anyio==4.4.0
apache-airflow==2.10.2
apache-airflow-providers-common-compat==1.2.0
apache-airflow-providers-common-io==1.4.0
apache-airflow-providers-common-sql==1.16.0
apache-airflow-providers-fab==1.3.0
apache-airflow-providers-ftp==3.11.0
apache-airflow-providers-http==4.13.0
apache-airflow-providers-imap==3.7.0
apache-airflow-providers-smtp==1.8.0
apache-airflow-providers-sqlite==3.9.0
apispec==6.6.1
appnope==0.1.4
APScheduler==3.11.0
argcomplete==3.5.0
asgiref==3.8.1
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==5.0.1
asyncpg==0.30.0
asyncua==1.1.5
attrs==24.2.0
av==12.3.0
babel==2.16.0
backoff==2.2.1
beautifulsoup4==4.12.3
blinker==1.8.2
blis==1.0.1
boto3==1.35.90
botocore==1.35.90
bs4==0.0.2
CacheControl==0.14.0
cachelib==0.9.0
cachetools==5.3.3
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
clickclick==20.10.2
cloudevents==1.9.0
cloudpathlib==0.19.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.2
commonmark==0.9.1
confection==0.1.5
ConfigUpdater==3.2
connexion==2.14.2
contourpy==1.2.1
cron-descriptor==1.4.5
croniter==3.0.3
cryptography==42.0.8
cycler==0.12.1
cymem==2.0.8
Cython==3.0.11
dataclasses-json==0.6.7
debugpy==1.8.2
decorator==5.1.1
deepsearch-glm==1.0.0
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
devtools==0.12.2
dill==0.3.9
distro==1.9.0
dnspython==2.6.1
docker==7.1.0
docling==2.23.0
docling-core==2.20.0
docling-ibm-models==3.3.2
docling-parse==3.4.0
docstring_parser==0.16
docutils==0.16
easyocr==1.7.2
email_validator==2.2.0
et-xmlfile==1.1.0
eval_type_backport==0.2.0
executing==2.0.1
fastapi==0.115.8
fastapi-cli==0.0.3
fastembed==0.5.0
filelock==3.15.4
filetype==1.2.0
firebase-admin==6.5.0
firebase-functions==0.1.2
Flask==2.2.5
Flask-AppBuilder==4.5.0
Flask-Babel==2.0.0
Flask-Caching==2.3.0
Flask-Cors==4.0.1
Flask-JWT-Extended==4.6.0
Flask-Limiter==3.8.0
Flask-Login==0.6.3
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.1
flatbuffers==24.3.25
fonttools==4.53.0
free_proxy==1.1.3
frozenlist==1.4.1
fsspec==2024.9.0
functions-framework==3.7.0
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.130.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.30.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-resource-manager==1.14.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-events==0.12.0
google-generativeai==0.8.3
google-pasta==0.2.0
google-re2==1.1.20240702
google-resumable-media==2.7.0
googleapis-common-protos==1.65.0
googlesearch-python==1.2.5
gotrue==2.10.0
GPUtil==1.4.0
greenlet==3.1.1
griffe==1.5.1
groq==0.13.0
grpc-google-iam-v1==0.14.1
grpcio==1.68.1
grpcio-status==1.62.2
grpcio-tools==1.68.1
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hpack==4.0.0
html2text==2024.2.26
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.26.3
humanfriendly==10.0
hyperframe==6.0.1
ibm_db==3.1.0
ibm_db_sa==0.3.3
idna==3.7
ifaddr==0.2.0
imageio==2.36.1
importlib-metadata==6.11.0
importlib_resources==6.4.5
inference==0.29.0
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.26.0
ipython-genutils==0.2.0
ipython-sql==0.5.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.8.0
jmespath==0.10.0
jsonlines==3.1.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
keras==3.3.3
kiwisolver==1.4.5
lancedb==0.19.0
langchain==0.3.13
langchain-aws==0.2.10
langchain-community==0.3.13
langchain-core==0.3.28
langchain-google-genai==2.0.7
langchain-mistralai==0.2.4
langchain-ollama==0.2.2
langchain-openai==0.2.14
langchain-text-splitters==0.3.4
langcodes==3.4.1
langsmith==0.2.6
language_data==1.2.0
latex2mathml==3.77.0
lazy-object-proxy==1.10.0
lazy_loader==0.4
libclang==18.1.1
limits==3.13.0
linkify-it-py==2.0.3
lockfile==0.12.2
logfire==2.7.0
logfire-api==2.7.0
loguru==0.7.3
lxml==5.3.0
Mako==1.3.5
marisa-trie==1.2.1
Markdown==3.6
markdown-it-py==3.0.0
marko==2.1.2
MarkupSafe==2.1.5
marshmallow==3.22.0
marshmallow-oneofschema==3.1.1
marshmallow-sqlalchemy==0.28.2
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
methodtools==0.4.7
minify_html==0.15.0
mistral_common==1.5.1
ml-dtypes==0.3.2
mmh3==4.1.0
more-itertools==10.5.0
mpire==2.10.2
mpmath==1.3.0
msgpack==1.0.8
multidict==6.1.0
multiprocess==0.70.17
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.27.1
nba_api==1.5.0
nbimporter==0.3.4
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.3
numpy==1.26.4
ollama==0.4.5
ollama-ocr==0.1.3
onnx==1.17.0
onnxruntime==1.19.2
openai==1.58.1
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-asyncpg==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt-einsum==3.3.0
optree==0.11.0
ordered-set==4.1.0
orjson==3.10.3
overrides==7.7.0
packaging==24.1
paddlepaddle==2.6.2
pandas==2.2.2
parso==0.8.4
pathspec==0.12.1
pendulum==3.0.0
pexpect==4.9.0
piexif==1.1.3
pillow==10.3.0
platformdirs==4.2.2
playwright==1.49.1
pluggy==1.5.0
portalocker==2.10.1
postgrest==0.18.0
preshed==3.0.9
prettytable==3.11.0
prison==0.2.1
prometheus-fastapi-instrumentator==6.0.0
prometheus_client==0.21.0
prompt_toolkit==3.0.47
propcache==0.2.0
proto-plus==1.25.0
protobuf==4.25.6
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py_rust_stemmers==0.1.3
pyarrow==19.0.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybase64==1.0.2
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.10.3
pydantic-ai==0.0.12
pydantic-ai-examples==0.0.12
pydantic-ai-slim==0.0.12
pydantic-settings==2.6.1
pydantic_core==2.27.1
pydeck==0.9.1
pydot==2.0.0
pyee==12.0.0
Pygments==2.18.0
PyJWT==2.9.0
pylance==0.23.0
pylibsrtp==0.10.0
pyOpenSSL==24.3.0
pyparsing==3.1.2
PyPDF2==3.0.1
pypdfium2==4.30.1
pytest==8.3.3
python-bidi==0.6.6
python-daemon==3.0.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-magic==0.4.27
python-multipart==0.0.20
python-nvd3==0.16.0
python-pptx==1.0.2
python-slugify==8.0.4
python-telegram-bot==21.3
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.0.3
qdrant-client==1.12.2
randomuser==1.6
realtime==2.0.6
redis==5.0.8
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==13.9.4
rich-argparse==1.5.2
roboflow==1.1.34
rpds-py==0.20.0
rsa==4.9
Rtree==1.3.0
s3transfer==0.10.4
safetensors==0.4.5
schema==0.7.7
scikit-image==0.24.0
scipy==1.14.0
scrapegraph_py==1.8.0
scrapegraphai==1.33.3
seaborn==0.13.2
semchunk==2.2.2
sentencepiece==0.2.0
setproctitle==1.3.3
shapely==2.0.6
shellingham==1.5.4
simpleeval==1.0.3
six==1.16.0
slack_sdk==3.33.4
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==1.4.54
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.41.2
sqlparse==0.5.1
srsly==2.4.8
stack-data==0.6.3
starlette==0.45.3
storage3==0.9.0
streamlit==1.42.1
structlog==24.4.0
supabase==2.10.0
supafunc==0.7.0
supervision==0.21.0
sympy==1.12.1
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.0
tensorflow-macos==2.16.2
termcolor==2.4.0
text-unidecode==1.3
thinc==8.3.2
thinc_apple_ops==1.0.0
thop==0.1.1.post2209072238
tifffile==2024.9.20
tiktoken==0.7.0
time-machine==2.15.0
tldextract==5.1.3
tokenizers==0.21.0
toml==0.10.2
torch==2.3.1
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.47.1
twilio==9.3.7
typer==0.12.5
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uc-micro-py==1.0.3
ujson==5.10.0
ultralytics==8.2.48
ultralytics-thop==2.0.0
undetected-playwright==0.3.0
unicodecsv==0.14.1
universal_pathlib==0.2.5
uritemplate==4.1.1
urllib3==1.26.20
uv==0.6.0
uvicorn==0.34.0
uvloop==0.19.0
vertexai==1.71.1
wasabi==1.1.3
watchdog==4.0.1
watchfiles==0.21.0
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
websockets==12.0
Werkzeug==2.2.3
wirerope==0.4.7
wrapt==1.16.0
WTForms==3.1.2
x2paddle==1.5.0
xlrd==2.0.1
XlsxWriter==3.2.2
yarl==1.17.1
zipp==3.20.2
zxing-cpp==2.2.0
